<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__info">
        <div class="footer__info-row">
          <div class="footer__info-col">
            <a class="footer__logo" href="#">
              <img src="img/about-logo.svg" width="175" height="166" alt="Lucky Duck">
            </a>
          </div>
          <div class="footer__info-col">
            <div class="footer__contacts">
              <ul class="footer__info-contacts contacts-info">
                <li class="footer__contacts-item contacts-info__item">
                  <i class="icon icon-phone"></i>
                  <a href="tel:+78312119483">+7 (831) 211-94-83</a>
                  <ul class="footer__contacts-socials">
                    <li><a href="#"><img src="img/whatsapp-icon.svg" width="38" height="38" alt="Связаться в Whatsapp" title="Связаться в Whatsapp"></a></li>
                    <li><a href="#"><img src="img/telegram-icon.svg" width="38" height="38" alt="Связаться в Telegram" title="Связаться в Telegram"></a></li>
                  </ul>
                </li>
                <li class="footer__contacts-item contacts-info__item">
                  <i class="icon icon-email"></i>
                  <a href="mailto:deteiling-nn@yandex.ru">deteiling-nn@yandex.ru</a>
                </li>
                <li class="footer__contacts-item contacts-info__item">
                  <i class="icon icon-location"></i>
                  <span>Нижний Новгород, ул.&nbsp;Родионова 190Д</span>
                </li>
                <li class="footer__contacts-item contacts-info__item">
                  <i class="icon icon-clock"></i>
                  <span><b>Без выходных:</b> c 10:00 до 20:00</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer__copy">
          <p>2023 © Все права защищены.</p>
          <p>Разработано Seo-Paul</p>
        </div>
      </div>
      <nav class="footer__nav">
        <div class="footer__nav-col">
          <p class="footer__title">Информация</p>
          <ul class="footer__list">
            <li><a href="#">Услуги</a></li>
            <li><a href="#">Цены</a></li>
            <li><a href="#">О нас</a></li>
            <li><a href="#">Портфолио</a></li>
            <li><a href="#">Новости</a></li>
            <li><a href="#">Отзывы</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
        </div>
        <div class="footer__nav-col">
          <p class="footer__title">УСЛУГИ</p>
          <ul class="footer__list footer__list--row">
            <li><a href="#">Полировка</a></li>
            <li><a href="#">Химчистка</a></li>
            <li><a href="#">Детейлинг-мойка</a></li>
            <li><a href="#">Нанесение керамики</a></li>
            <li><a href="#">Шумоизоляция</a></li>
            <li><a href="#">Оклейка пленкой</a></li>
            <li><a href="#">Удаление вмятин</a></li>
            <li><a href="#">Установка доводчиков дверей</a></li>
            <li><a href="#">Установка системы ТОР для звука выхлопа</a></li>
            <li><a href="#">Установка музыки</a></li>
            <li><a href="#">Ионизация салона (установка системы)</a></li>
            <li><a href="#">Установка подсветки салона</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</footer>
