<header class="header header-services">
  <div class="header__wrapper">
    <div class="container">
      <div class="header__top">
        <div class="header__logo">
          <a href="./">
            <img src="img/logo.svg" width="165" height="90" alt="Логотип">
          </a>
        </div>
        <div class="header__menu menu">
          <nav class="header__nav nav">
            <ul class="header__list">
              <li><a href="./">Главная</a></li>
              <li><a href="./services.html">Услуги</a></li>
              <li><a href="#promotions">Акции</a></li>
              <li><a href="./prices.html">Цены</a></li>
              <li><a href="#contacts">Контакты</a></li>
            </ul>
          </nav>
          <button class="header__btn btn-outline" data-modal-open="modal-form">заказать звонок</button>
        </div>
        <div class="header__phone-wrapper">
          <a class="header__phone" href="tel:+78312119483">+7 (831) 211-94-83</a>
        </div>
        <button class="header__burger burger">
          <span></span>
        </button>
      </div>
      <div class="header__body header-services__body">
        <div class="header__side">
          <div class="header__info">
            <div class="header__info-item header__info-schedule">Работаем с 10:00 - <br /> 20:00,без выходных</div>
            <div class="header__info-item header__info-address">Нижний Новгород <br /> ул. Родионова 190Д</div>
          </div>
          <div class="header__stories">
            <p class="header__stories-title">Наши Stories</p>
            <ul>
              <li><img src="img/stories-1.svg" width="93" height="93" alt="Акции"></li>
              <li><img src="img/stories-2.svg" width="93" height="93" alt="Цены"></li>
              <li><img src="img/stories-3.svg" width="93" height="93" alt="Портфолио"></li>
            </ul>
          </div>
        </div>
        <div class="header__content">
          <h1 class="header-services__title title"><span class="accent">Шумоизоляция</span> автомобиля
            в&nbsp;Нижнем Новгороде</h1>
          <div class="header-services__row">
            <div class="header-services__benefits">
              <ul>
                <li>
                  <p>Уменьшение шума <span class="break"></span> <b class="accent">до&nbsp;75%</b></p>
                </li>
                <li>
                  <p>Защита автомобиля <span class="break"></span> от коррозии</p>
                </li>
                <li>
                  <p>Улучшение звучания <span class="break"></span> штатной акустики</p>
                </li>
                <li>
                  <p>Мастера с опытом&nbsp;работы <span class="break"></span> строго <b class="accent">от 10 лет</b></p>
                </li>
                <li>
                  <p>Скажи НЕТ дребезжанию <span class="break"></span> пластика в салоне</p>
                </li>
                <li>
                  <p>Сохранение заводской <span class="break"></span> гарантии</p>
                </li>
                <li>
                  <p>Избавим от <span class="break"></span> скрипов салона</p>
                </li>
                <li>
                  <p>60+отзывов с <span class="break"></span> рейтингом 4.7</p>
                </li>
                <li>
                  <p>Предотвращение <span class="break"></span> образования конденсата</p>
                </li>
              </ul>
            </div>
            <div class="header-services__form header-form">
              <form>
                <div class="header-form__title">Запишитесь на консультацию обсудим план работ над автомобилем вместе</div>
                <div class="header-form__inner">
                  <input class="header-form__control form-control" type="text" placeholder="Ваше имя">
                  <input class="header-form__control form-control" type="tel" placeholder="Номер телефона +7">
                  <button class="header-form__btn btn-gradient">Получить консультацию</button>
                  <label class="header-form__policy form-check">
                    <input class="visually-hidden" checked type="checkbox">
                    <span class="form-check__circle"></span>
                    <span>Даю согласие <a href="#">на обработку персональных данных</a></span>
                  </label>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header__bg" style="background-image: url('img/header-bg.png');"></div>
</header>
