<div class="modal modal-main" id="modal-form" aria-hidden="true">
  <div class="modal__wrapper">
    <div class="modal__inner">
      <div class="modal__content">
        <div class="modal__title title title--icon">
          <h5 class="title__wrapper">Оставить <span class="break"></span> <span class="secondary">заявку</span></h5>
        </div>
        <div class="modal__form">
          <form>
            <div class="modal__form-inner">
              <input class="modal__control form-control" type="text" placeholder="Ваше имя">
              <input class="modal__control form-control" type="tel" placeholder="Номер телефона +7">
              <button class="modal__btn btn-gradient">отправить</button>
              <label class="modal__policy form-check">
                <input class="visually-hidden" checked type="checkbox">
                <span class="form-check__circle"></span>
                <span>Даю согласие <a href="#">на обработку персональных данных</a></span>
              </label>
            </div>
          </form>
          <div class="modal__img">
            <img src="img/modal-1.png" width="190" height="164" alt="Письмо">
          </div>
        </div>
      </div>
      <button class="modal__close" data-modal-close></button>
    </div>
  </div>
</div>
