<section class="about section">
  <div class="about__wrapper">
    <div class="container">
      <div class="about__inner">
        <div class="about__img">
          <picture>
            <source srcset="img/about-1.webp" type="image/webp">
            <img src="img/about-1.jpg" alt="Кто мы?" width="463" height="700">
          </picture>
        </div>
        <div class="about__content">
          <div class="about__title title title--icon">
            <h3 class="title__wrapper">Lucky Duck <br /> <span class="secondary">Кто мы?</span></h3>
          </div>
          <div class="about__row">
            <div class="about__col about__left">
              <div class="about__logo-wrapper">
                <div class="about__logo">
                  <img src="img/about-logo.svg" width="175" height="166" alt="Lucky Duck">
                </div>
                <button class="about__btn btn-gradient" data-modal-open="modal-form">Записаться</button>
              </div>
            </div>
            <div class="about__col about__right">
              <div class="about__box">
                <p class="about__box-title">Всегда видимый результат</p>
                <p>Вы обязательно увидите разницу во внешнем виде машины после посещения нашей студии. А возможно — даже ее не узнаете!</p>
              </div>
              <div class="about__box">
                <p class="about__box-title">Быстро, но без спешки</p>
                <p>Каждый автомобиль — индивидуален. У нас не конвейер, потратим времени столько, сколько необходимо для наилучшего результата.</p>
              </div>
              <div class="about__box">
                <p class="about__box-title">Безопасность и гарантия</p>
                <p>Помещение находится под круглосуточной охраной. Даем гарантию на все выполненные работы и материалы. Наше стремление превзойти ожидания подтверждается блестящими отзывами наших довольных клиентов.</p>
              </div>
              <div class="about__info-footer">
                <p>Многолетний опыт надежного обслуживания. Благодаря многолетнему опыту компания Lucky Duck стала именем, которому доверяют в отрасли. Наши постоянные клиенты возвращаются к нам, чтобы получить безупречную чистоту и ухоженный автомобиль.</p>
                <p>Профессиональная команда. В нашу команду входят автолюбители, которые подходят к каждому автомобилю со страстью и внимательным взглядом на детали. От обычной чистки до специализированного ухода – мы относимся к каждому автомобилю как к своему собственному. Используем новейшие технологии и продукты премиум-класса. Ваш автомобиль получает первоклассный уход как внутри, так и снаружи.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="about__bg"></div>
  </div>
</section>
