<section class="benefits section">
  <div class="benefits__wrapper">
    <div class="container">
      <div class="benefits__inner">
        <ul class="benefits__list">
          <li class="benefits__item">
            <div class="benefits__img">
              <img src="img/benefits-1.svg" width="152" height="152" alt="преимущество">
            </div>
            <p class="benefits__name">Всегда видимый результат</p>
            <p class="benefits__text">Вы обязательно увидите разницу во внешнем виде машины после посещения нашей студии. А возможно — даже ее не узнаете!</p>
          </li>
          <li class="benefits__item">
            <div class="benefits__img">
              <img src="img/benefits-2.svg" width="152" height="152" alt="преимущество">
            </div>
            <p class="benefits__name">Быстро, но без спешки</p>
            <p class="benefits__text">Каждый автомобиль — индивидуален. У нас не конвейер, потратим времени столько, сколько необходимо для наилучшего результата.</p>
          </li>
          <li class="benefits__item">
            <div class="benefits__img">
              <img src="img/benefits-3.svg" width="152" height="152" alt="преимущество">
            </div>
            <p class="benefits__name">Безопасность и гарантия</p>
            <p class="benefits__text">Помещение находится под круглосуточной охраной. Даем гарантию на все выполненные работы и материалы. Наше стремление превзойти ожидания подтверждается блестящими отзывами наших довольных клиентов. </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
