<section class="benefits section">
  <div class="benefits__wrapper">
    <div class="container">
      <div class="benefits__inner">
        <ul class="benefits__list">
          <li class="benefits__item">
            <div class="benefits__img">
              <img src="img/benefits-4.svg" width="152" height="152" alt="преимущество">
            </div>
            <p class="benefits__name">Мы — официальный дилер</p>
            <p class="benefits__text">Являемся дилером шумоизоляционных материалов Comfort Mat, а это значит — не экономим материал, наносим необходимое количество без обмана, предлагаем лучшие цены в г. Нижний Новгород.</p>
          </li>
          <li class="benefits__item">
            <div class="benefits__img">
              <img src="img/benefits-5.svg" width="152" height="152" alt="преимущество">
            </div>
            <p class="benefits__name">Максимальная шумоизоляция</p>
            <p class="benefits__text">Наша задача – добиться максимального акустического комфорта. Для этого проводим только МАКСИМАЛЬНУЮ шумоизоляцию.</p>
          </li>
          <li class="benefits__item">
            <div class="benefits__img">
              <img src="img/benefits-6.svg" width="152" height="152" alt="преимущество">
            </div>
            <p class="benefits__name">Гарантия на эффект от процедуры</p>
            <p class="benefits__text">Для того чтобы вы убедились в качестве шумоизоляции не только по собственным ощущениям, но и увидели результат в цифрах, мы оцифровываем шум «ДО» и «ПОСЛЕ» тюнинга в аккредитованной лаборатории, с использованием шумомера.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
