<section class="contacts" id="contacts">
  <div class="contacts__inner">
    <div class="contacts__container">
      <div class="contacts__content">
        <div class="contacts__title title title--icon">
          <h3 class="title__wrapper">Как нас <span class="break"></span> <span class="secondary"> найти?</span></h3>
        </div>
        <ul class="contacts__info contacts-info">
          <li class="contacts__info-item contacts-info__item">
            <i class="icon icon-phone"></i>
            <a href="tel:+78312119483">+7 (831) 211-94-83</a>
          </li>
          <li class="contacts__info-item contacts-info__item">
            <i class="icon icon-email"></i>
            <a href="mailto:deteiling-nn@yandex.ru">deteiling-nn@yandex.ru</a>
          </li>
          <li class="contacts__info-item contacts-info__item">
            <i class="icon icon-location"></i>
            <span>Нижний Новгород, ул.&nbsp;Родионова 190Д</span>
          </li>
          <li class="contacts__info-item contacts-info__item">
            <i class="icon icon-clock"></i>
            <span><b>Без выходных:</b> c 10:00 до 20:00</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="contacts__map">
      <a href="https://yandex.kz/maps/ru/47/nizhny-novgorod/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Нижний Новгород</a>
      <a href="https://yandex.kz/maps/ru/47/nizhny-novgorod/house/ulitsa_rodionova_190d/YE0YdgBpTUMOQFtsfX9xdnVrYg==/?indoorLevel=1&ll=44.079468%2C56.307986&utm_medium=mapframe&utm_source=maps&z=17.06" style="color:#eee;font-size:12px;position:absolute;top:14px;">Улица Родионова, 190Д — Яндекс Карты</a>
      <iframe src="https://yandex.kz/map-widget/v1/?indoorLevel=1&ll=44.079468%2C56.307986&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1Njk5NjQxNRJR0KDQvtGB0YHQuNGPLCDQndC40LbQvdC40Lkg0J3QvtCy0LPQvtGA0L7QtCwg0YPQu9C40YbQsCDQoNC-0LTQuNC-0L3QvtCy0LAsIDE5MNCUIgoNX1EwQhVgO2FC&z=17.06" width="1920" height="600" frameborder="1" allowfullscreen="true">
      </iframe>
    </div>
  </div>
</section>
