<section class="gallery section">
  <div class="gallery__wrapper">
    <div class="container">
      <div class="gallery__inner">
        <div class="gallery__title title title--icon">
          <h2 class="title__wrapper">Примеры <span class="secondary">работ</span></h2>
        </div>
        <div class="gallery__slider">
          <div class="gallery__track">
            <ul class="gallery__list">
              <li class="gallery__item">
                <img src="img/gallery-1.jpg" width="463" height="340" alt="Пример работы">
              </li>
              <li class="gallery__item">
                <img src="img/gallery-2.jpg" width="463" height="340" alt="Пример работы">
              </li>
              <li class="gallery__item">
                <img src="img/gallery-3.jpg" width="463" height="340" alt="Пример работы">
              </li>
              <li class="gallery__item">
                <img src="img/gallery-1.jpg" width="463" height="340" alt="Пример работы">
              </li>
              <li class="gallery__item">
                <img src="img/gallery-2.jpg" width="463" height="340" alt="Пример работы">
              </li>
            </ul>
          </div>
          <ul class="gallery__pagination splide__pagination"></ul>
        </div>
        <a class="gallery__btn btn-gradient" href="#">Все работы</a>
      </div>
    </div>
  </div>
</section>
