<section class="lead lead-contact section">
  <div class="lead__wrapper">
    <div class="container">
      <div class="lead__inner lead-contact__inner">
        <div class="lead-contact__content">
          <div class="lead-contact__title title title--icon">
            <h2 class="title__wrapper">Оставить <span class="break"></span> <span class="secondary">заявку</span></h2>
          </div>
          <div class="lead__form lead-form">
            <p class="lead-form__title">Запишитесь на консультацию обсудим план работ над автомобилем вместе</p>
            <form>
              <div class="lead-form__inner">
                <input class="lead-form__control form-control" type="text" placeholder="Ваше имя">
                <input class="lead-form__control form-control" type="tel" placeholder="Номер телефона +7">
                <button class="lead-form__btn btn-gradient">Отправить</button>
                <label class="lead-form__policy form-check">
                  <input class="visually-hidden" checked type="checkbox">
                  <span class="form-check__circle"></span>
                  <span>Даю согласие <a href="#">на обработку персональных данных</a></span>
                </label>
              </div>
            </form>
          </div>
        </div>
        <div class="lead-contact__media">
          <video src="video/lead-video.mp4" poster="img/lead-poster.jpg" autoplay playsinline muted loop></video>
        </div>
      </div>
    </div>
    <div class="lead__bg"></div>
  </div>
</section>
