<section class="lead section">
  <div class="lead__wrapper">
    <div class="container">
      <div class="lead__inner">
        <div class="lead__content">
          <div class="lead__title title title--icon">
            <h2 class="title__wrapper">Если не нашли <br /> <span class="secondary">нужную услугу</span></h2>
          </div>
          <div class="lead__text">
            <p class="lead__text-line">Свяжитесь с нами по телефону</p>
            <p class="lead__text-line"><a class="lead__phone" href="tel:+7831211948">+7 (831) 211-94-83</a></p>
            <div class="lead__text-line lead__text-socials">
              <p>или в социальных сетях</p>
              <ul>
                <li><a href="#"><img src="img/whatsapp-icon.svg" width="55" height="55" alt="Связаться в Whatsapp" title="Связаться в Whatsapp"></a></li>
                <li><a href="#"><img src="img/telegram-icon.svg" width="55" height="55" alt="Связаться в Telegram" title="Связаться в Telegram"></a></li>
              </ul>
            </div>
          </div>
          <div class="lead__caption">мы подберём работы для&nbsp;вашей машины</div>
        </div>
        <div class="lead__img">
          <picture>
            <source srcset="img/lead-1.webp" type="image/webp">
            <img src="img/lead-1.png" width="720" height="773" alt="заказать звонок">
          </picture>
        </div>
      </div>
    </div>
    <div class="lead__bg"></div>
  </div>
</section>
