<section class="lead lead-contact section">
  <div class="lead__wrapper">
    <div class="container">
      <div class="lead__inner lead-contact__inner">
        <div class="lead-contact__content">
          <div class="lead-contact__title title title--icon">
            <h2 class="title__wrapper">Оставить заявку <br> <span class="secondary">на расчет</span></h2>
          </div>
          <div class="lead__form lead-form">
            <p class="lead-form__title">Получите точный расчет стоимости - мы перезвоним и уточним все детали</p>
            <form>
              <div class="lead-form__inner">
                <input class="lead-form__control form-control" type="text" placeholder="Ваше имя">
                <input class="lead-form__control form-control" type="tel" placeholder="Номер телефона +7">
                <button class="lead-form__btn btn-gradient">рассчитать стоимость</button>
                <label class="lead-form__policy form-check">
                  <input class="visually-hidden" checked type="checkbox">
                  <span class="form-check__circle"></span>
                  <span>Даю согласие <a href="#">на обработку персональных данных</a></span>
                </label>
              </div>
            </form>
          </div>
        </div>
        <div class="lead-contact__media">
          <img src="img/lead-2.png" width="458" height="440" alt="Калькулятор">
        </div>
      </div>
    </div>
    <div class="lead__bg"></div>
  </div>
</section>
