<section class="pluses section">
  <div class="pluses__wrapper">
    <div class="container">
      <div class="pluses__inner">
        <div class="pluses__title title title--sm title--icon">
          <h3 class="title__wrapper">Шумоизоляция автомобиля дает <span class="break"></span> целую <span class="secondary">кучу плюсов</span>:</h3>
        </div>
        <p class="pluses__subtitle">Керамика для кузова работает на уровне молекул. Химическая и ковалентная связь - это намного прочнее, чем физическая связь воска или полимеров.</p>
        <ol class="pluses__list">
          <li class="pluses__item">
            <div class="pluses__info">
              <p class="pluses__name">Эмоциональный комфорт</p>
              <p class="pluses__text">Значительное уменьшение уровня шума , повышенная комфортность нахождения в автомобиле.</p>
            </div>
          </li>
          <li class="pluses__item">
            <div class="pluses__info">
              <p class="pluses__name">Улучшение акустики</p>
              <p class="pluses__text">Акустическая система порадует более качественным <br />
                и ярким звуком.</p>
            </div>
          </li>
          <li class="pluses__item">
            <div class="pluses__info">
              <p class="pluses__name">Комфортная температура</p>
              <p class="pluses__text">Шумоизоляционные материалы - отличный теплоизолятор. Зимой будет теплее, а летом прохладнее.</p>
            </div>
          </li>
          <li class="pluses__item">
            <div class="pluses__info">
              <p class="pluses__name">Дополнительная жесткость кузова</p>
              <p class="pluses__text">Шумо-виброизоляционные материалы крепко приклеиваются к кузову, повышая жесткость и нейтрализуя вибрации.</p>
            </div>
          </li>
          <li class="pluses__item">
            <div class="pluses__info">
              <p class="pluses__name">Комфортное закрывание дверей</p>
              <p class="pluses__text">Благодаря утяжелению двери и повышению жесткости металла, дверь закрывается с благородным звуком премиум-автомобиля и нужно прилагать меньше усилий.</p>
            </div>
          </li>
        </ol>
      </div>
    </div>
    <div class="pluses__bg"></div>
  </div>
</section>
