<section class="price section">
  <div class="price__wrapper">
    <div class="container">
      <div class="price__inner">
        <ul class="price__list">
          <li class="price__item">
            <div class="price__img">
              <img src="img/price-1.png" width="345" height="236" alt="услуга">
            </div>
            <div class="price__info">
              <h4 class="price__title">Химчистка салона</h4>
              <div class="price__table">
                <table>
                  <tbody>
                    <tr>
                      <td>Локальная</td>
                      <td>от 4 часов</td>
                      <td>от <b>2 000</b> руб.</td>
                    </tr>
                    <tr>
                      <td>Пол</td>
                      <td>6 часов</td>
                      <td>от <b>2 000</b> руб.</td>
                    </tr>
                    <tr>
                      <td>Потолок</td>
                      <td>4 часа</td>
                      <td>от <b>2 000</b> руб.</td>
                    </tr>
                    <tr>
                      <td>Комплексная</td>
                      <td>от 1 дня</td>
                      <td>от <b>16 000</b> руб.</td>
                    </tr>
                    <tr>
                      <td>Керамика кожи</td>
                      <td>от 4 часов</td>
                      <td>от <b>10 000</b> руб.</td>
                    </tr>
                    <tr>
                      <td>Удаление запахов</td>
                      <td>от 4 часов</td>
                      <td>от <b>1 000</b> руб.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </li>
          <li class="price__item">
            <div class="price__img">
              <img src="img/price-2.png" width="253" height="238" alt="услуга">
            </div>
            <div class="price__info">
              <h4 class="price__title">Оклейка пленкой полиуретан</h4>
              <div class="price__table">
                <table>
                  <tbody>
                    <tr>
                      <td>Капот целиком</td>
                      <td>4 часа</td>
                      <td>от <b>15 000</b> руб.</td>
                    </tr>
                    <tr>
                      <td>Крылья целиком (2 шт)</td>
                      <td>от 4 часов</td>
                      <td>от <b>20 000</b> руб.</td>
                    </tr>
                    <tr>
                      <td>Бампер</td>
                      <td>от 8 часов</td>
                      <td>от <b>20 000</b> руб.</td>
                    </tr>
                    <tr>
                      <td>Фары передние (2 шт)</td>
                      <td>от 3 часов</td>
                      <td>от <b>5 000</b> руб.</td>
                    </tr>
                    <tr>
                      <td>Весь авто <br /> без крыши</td>
                      <td>от 3 дней</td>
                      <td>от <b>150 000</b> руб.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </li>
          <li class="price__item">
            <div class="price__img">
              <img src="img/price-3.png" width="272" height="256" alt="услуга">
            </div>
            <div class="price__info">
              <h4 class="price__title">Шумоизоляция автомобиля</h4>
              <div class="price__table">
                <table>
                  <tbody>
                    <tr>
                      <td>Двери (4 шт)</td>
                      <td>6 часов</td>
                      <td>от <b>15 900</b> руб.</td>
                    </tr>
                    <tr>
                      <td>Пол</td>
                      <td>6 часов</td>
                      <td>от <b>19 700</b> руб.</td>
                    </tr>
                    <tr>
                      <td>Багажник с задн.арками</td>
                      <td>6 часов</td>
                      <td>от <b>17 800</b> руб.</td>
                    </tr>
                    <tr>
                      <td>Потолок</td>
                      <td>6 часов</td>
                      <td>от <b>11 800</b> руб.</td>
                    </tr>
                    <tr>
                      <td>Шумоизоляция арок</td>
                      <td>1 день</td>
                      <td>от <b>15 800</b> руб.</td>
                    </tr>
                    <tr>
                      <td>Полная шумоизоляция</td>
                      <td>1 день</td>
                      <td>от <b>49 800</b> руб.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </li>
          <li class="price__item">
            <div class="price__img">
              <img src="img/price-4.png" width="433" height="245" alt="услуга">
            </div>
            <div class="price__info">
              <h4 class="price__title">Полировка автомобиля</h4>
              <div class="price__table">
                <table>
                  <tbody>
                    <tr>
                      <td>Предпродажная</td>
                      <td>1 день</td>
                      <td>от <b>5 000</b> руб.</td>
                    </tr>
                    <tr>
                      <td>Восстановительная</td>
                      <td>2 дня</td>
                      <td>от <b>10 000</b> руб.</td>
                    </tr>
                    <tr>
                      <td>Детейлинг-полировка</td>
                      <td>3 дня</td>
                      <td>от <b>15 000</b> руб.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </li>
          <li class="price__item">
            <div class="price__img">
              <img src="img/price-5.png" width="316" height="249" alt="услуга">
            </div>
            <div class="price__info">
              <h4 class="price__title">Нанесение керамики</h4>
              <div class="price__table">
                <table>
                  <tbody>
                    <tr>
                      <td>Жидкое стекло</td>
                      <td>6 часов</td>
                      <td>от <b>25 000</b> руб.</td>
                    </tr>
                    <tr>
                      <td>«Керамика Стандарт» Gliss&nbsp;Pro</td>
                      <td>от 1 дня</td>
                      <td>от <b>30 000</b> руб.</td>
                    </tr>
                    <tr>
                      <td>«Керамика Премиум» GTechniq</td>
                      <td>от 1 дня</td>
                      <td>от <b>35 000</b> руб.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </li>
          <li class="price__item">
            <div class="price__img">
              <img src="img/price-6.png" width="384" height="230" alt="услуга">
            </div>
            <div class="price__info">
              <h4 class="price__title">Другие <br /> услуги</h4>
              <div class="price__table">
                <table>
                  <tbody>
                    <tr>
                      <td>Установка модулей линз</td>
                      <td>от 1 дня</td>
                      <td>от <b>24 800</b> руб.</td>
                    </tr>
                    <tr>
                      <td>Замена стёкол
                        на фарах</td>
                      <td>от 1 дня</td>
                      <td>от <b>9 900</b> руб.</td>
                    </tr>
                    <tr>
                      <td>Установка доводчиков дверей под ключ</td>
                      <td>1 день</td>
                      <td>от <b>69 800</b> руб.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="price__bg"></div>
  </div>
</section>
