<section class="promotions section" id="promotions">
  <div class="promotions__wrapper">
    <div class="container">
      <div class="promotions__inner">
        <div class="promotions__title title title--icon">
          <h3 class="title__wrapper">Lucky <span class="secondary"> Акции</span></h3>
        </div>
        <div class="promotions__slider">
          <div class="promotions__track">
            <ul class="promotions__list">
              <li class="promotions__item promotions-card">
                <div class="promotions-card__badge">весь декабрь</div>
                <div class="promotions-card__img">
                  <picture>
                    <source srcset="img/promotions-1.webp" type="image/webp">
                    <img src="img/promotions-1.jpg" width="418" height="299" alt="Акция">
                  </picture>
                </div>
                <p class="promotions-card__text">Оклейка капота гибридной пленкой
                  за <span class="accent">12 000 руб.</span></p>
              </li>
              <li class="promotions__item promotions-card">
                <div class="promotions-card__badge">весь декабрь</div>
                <div class="promotions-card__img">
                  <picture>
                    <source srcset="img/promotions-2.webp" type="image/webp">
                    <img src="img/promotions-2.jpg" width="418" height="299" alt="Акция">
                  </picture>
                </div>
                <p class="promotions-card__text">Оклейка защитной пленкой зон риска со <span class="accent">скидкой 10%</span></p>
              </li>
              <li class="promotions__item promotions-card">
                <div class="promotions-card__badge">весь декабрь</div>
                <div class="promotions-card__img">
                  <picture>
                    <source srcset="img/promotions-3.webp" type="image/webp">
                    <img src="img/promotions-3.jpg" width="418" height="299" alt="Акция">
                  </picture>
                </div>
                <p class="promotions-card__text">Полировка автомобиля + нанесение керамики со <span class="accent">скидкой 3 000 руб.</span></p>
              </li>
              <li class="promotions__item promotions-card">
                <div class="promotions-card__badge">весь декабрь</div>
                <div class="promotions-card__img">
                  <picture>
                    <source srcset="img/promotions-2.webp" type="image/webp">
                    <img src="img/promotions-2.jpg" width="418" height="299" alt="Акция">
                  </picture>
                </div>
                <p class="promotions-card__text">Оклейка защитной пленкой зон риска со <span class="accent">скидкой 10%</span></p>
              </li>
              <li class="promotions__item promotions-card">
                <div class="promotions-card__badge">весь декабрь</div>
                <div class="promotions-card__img">
                  <picture>
                    <source srcset="img/promotions-3.webp" type="image/webp">
                    <img src="img/promotions-3.jpg" width="418" height="299" alt="Акция">
                  </picture>
                </div>
                <p class="promotions-card__text">Полировка автомобиля + нанесение керамики со <span class="accent">скидкой 3 000 руб.</span></p>
              </li>
            </ul>
          </div>
          <ul class="promotions__pagination splide__pagination"></ul>
        </div>
        <a class="promotions__btn btn-gradient" href="#">Все акции</a>
      </div>
    </div>
  </div>
</section>
