<section class="rating section">
  <div class="rating__wrapper">
    <div class="container">
      <div class="rating__inner">
        <div class="rating__content">
          <div class="rating__title title title--icon">
            <h3 class="title__wrapper">Рейтинг на <span class="secondary">независимых</span> <br /> площадках</h3>
          </div>
          <ul class="rating__list">
            <li class="rating__item">
              <div class="rating__head">
                <img src="img/yandex-logo.svg" width="147" height="57" alt="рейтинг яндекс">
                <span>4.8</span>
              </div>
              <ul class="rating__stars">
                <li class="rating__stars-item"></li>
                <li class="rating__stars-item"></li>
                <li class="rating__stars-item"></li>
                <li class="rating__stars-item"></li>
                <li class="rating__stars-item rating__stars-item--half"></li>
              </ul>
            </li>
            <li class="rating__item">
              <div class="rating__head">
                <img src="img/2gis-logo.svg" width="167" height="54" alt="рейтинг 2gis">
                <span>4.7</span>
              </div>
              <ul class="rating__stars">
                <li class="rating__stars-item"></li>
                <li class="rating__stars-item"></li>
                <li class="rating__stars-item"></li>
                <li class="rating__stars-item"></li>
                <li class="rating__stars-item rating__stars-item--half"></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="rating__img">
          <img src="img/rating.png" width="488" height="525" alt="Рейтинг">
        </div>
      </div>
    </div>
  </div>
</section>
