<section class="services section">
  <div class="services__wrapper">
    <div class="container">
      <div class="services__inner">
        <div class="services__title title title--icon">
          <h2 class="title__wrapper"><span class="secondary">Luck</span> Услуги</h2>
        </div>
        <ul class="services__list">
          <li class="services__item">
            <a class="services__img" href="#">
              <picture>
                <source srcset="img/services-1.webp" type="image/webp">
                <img src="img/services-1.jpg" width="339" height="199" alt="услуга" loading="lazy">
              </picture>
            </a>
            <div class="services__info">
              <p class="services__name">Полировка</p>
              <p class="services__price">от <span>100 000 руб.</span></p>
              <div class="services__buttons">
                <button class="services__btn btn-primary" data-modal-open="modal-form">заказать</button>
                <a class="services__link link-wavy" href="#">подробнее</a>
              </div>
            </div>
          </li>
          <li class="services__item">
            <a class="services__img" href="#">
              <picture>
                <source srcset="img/services-2.webp" type="image/webp">
                <img src="img/services-2.jpg" width="339" height="199" alt="услуга" loading="lazy">
              </picture>
            </a>
            <div class="services__info">
              <p class="services__name">Химчистка</p>
              <p class="services__price">от <span>100 000 руб.</span></p>
              <div class="services__buttons">
                <button class="services__btn btn-primary" data-modal-open="modal-form">заказать</button>
                <a class="services__link link-wavy" href="#">подробнее</a>
              </div>
            </div>
          </li>
          <li class="services__item">
            <a class="services__img" href="#">
              <picture>
                <source srcset="img/services-3.webp" type="image/webp">
                <img src="img/services-3.jpg" width="339" height="199" alt="услуга" loading="lazy">
              </picture>
            </a>
            <div class="services__info">
              <p class="services__name">Детейлинг-мойка</p>
              <p class="services__price">от <span>100 000 руб.</span></p>
              <div class="services__buttons">
                <button class="services__btn btn-primary" data-modal-open="modal-form">заказать</button>
                <a class="services__link link-wavy" href="#">подробнее</a>
              </div>
            </div>
          </li>
          <li class="services__item">
            <a class="services__img" href="#">
              <picture>
                <source srcset="img/services-4.webp" type="image/webp">
                <img src="img/services-4.jpg" width="339" height="199" alt="услуга" loading="lazy">
              </picture>
            </a>
            <div class="services__info">
              <p class="services__name">Шумоизоляция</p>
              <p class="services__price">от <span>100 000 руб.</span></p>
              <div class="services__buttons">
                <button class="services__btn btn-primary" data-modal-open="modal-form">заказать</button>
                <a class="services__link link-wavy" href="#">подробнее</a>
              </div>
            </div>
          </li>
          <li class="services__item">
            <a class="services__img" href="#">
              <picture>
                <source srcset="img/services-5.webp" type="image/webp">
                <img src="img/services-5.jpg" width="339" height="199" alt="услуга" loading="lazy">
              </picture>
            </a>
            <div class="services__info">
              <p class="services__name">Установка системы ТОР для звука выхлопа</p>
              <p class="services__price">от <span>100 000 руб.</span></p>
              <div class="services__buttons">
                <button class="services__btn btn-primary" data-modal-open="modal-form">заказать</button>
                <a class="services__link link-wavy" href="#">подробнее</a>
              </div>
            </div>
          </li>
          <li class="services__item">
            <a class="services__img" href="#">
              <picture>
                <source srcset="img/services-6.webp" type="image/webp">
                <img src="img/services-6.jpg" width="339" height="199" alt="услуга" loading="lazy">
              </picture>
            </a>
            <div class="services__info">
              <p class="services__name">Нанесение керамики</p>
              <p class="services__price">от <span>100 000 руб.</span></p>
              <div class="services__buttons">
                <button class="services__btn btn-primary" data-modal-open="modal-form">заказать</button>
                <a class="services__link link-wavy" href="#">подробнее</a>
              </div>
            </div>
          </li>
          <li class="services__item">
            <a class="services__img" href="#">
              <picture>
                <source srcset="img/services-7.webp" type="image/webp">
                <img src="img/services-7.jpg" width="339" height="199" alt="услуга" loading="lazy">
              </picture>
            </a>
            <div class="services__info">
              <p class="services__name">Ионизация салона (установка системы)</p>
              <p class="services__price">от <span>100 000 руб.</span></p>
              <div class="services__buttons">
                <button class="services__btn btn-primary" data-modal-open="modal-form">заказать</button>
                <a class="services__link link-wavy" href="#">подробнее</a>
              </div>
            </div>
          </li>
          <li class="services__item">
            <a class="services__img" href="#">
              <picture>
                <source srcset="img/services-8.webp" type="image/webp">
                <img src="img/services-8.jpg" width="339" height="199" alt="услуга" loading="lazy">
              </picture>
            </a>
            <div class="services__info">
              <p class="services__name">Оклейка пленкой</p>
              <p class="services__price">от <span>100 000 руб.</span></p>
              <div class="services__buttons">
                <button class="services__btn btn-primary" data-modal-open="modal-form">заказать</button>
                <a class="services__link link-wavy" href="#">подробнее</a>
              </div>
            </div>
          </li>
          <li class="services__item">
            <a class="services__img" href="#">
              <picture>
                <source srcset="img/services-9.webp" type="image/webp">
                <img src="img/services-9.jpg" width="339" height="199" alt="услуга" loading="lazy">
              </picture>
            </a>
            <div class="services__info">
              <p class="services__name">Удаление вмятин </p>
              <p class="services__price">от <span>100 000 руб.</span></p>
              <div class="services__buttons">
                <button class="services__btn btn-primary" data-modal-open="modal-form">заказать</button>
                <a class="services__link link-wavy" href="#">подробнее</a>
              </div>
            </div>
          </li>
          <li class="services__item">
            <a class="services__img" href="#">
              <picture>
                <source srcset="img/services-10.webp" type="image/webp">
                <img src="img/services-10.jpg" width="339" height="199" alt="услуга" loading="lazy">
              </picture>
            </a>
            <div class="services__info">
              <p class="services__name">Установка музыки </p>
              <p class="services__price">от <span>100 000 руб.</span></p>
              <div class="services__buttons">
                <button class="services__btn btn-primary" data-modal-open="modal-form">заказать</button>
                <a class="services__link link-wavy" href="#">подробнее</a>
              </div>
            </div>
          </li>
          <li class="services__item">
            <a class="services__img" href="#">
              <picture>
                <source srcset="img/services-11.webp" type="image/webp">
                <img src="img/services-11.jpg" width="339" height="199" alt="услуга" loading="lazy">
              </picture>
            </a>
            <div class="services__info">
              <p class="services__name">Установка доводчиков дверей</p>
              <p class="services__price">от <span>100 000 руб.</span></p>
              <div class="services__buttons">
                <button class="services__btn btn-primary" data-modal-open="modal-form">заказать</button>
                <a class="services__link link-wavy" href="#">подробнее</a>
              </div>
            </div>
          </li>
          <li class="services__item">
            <a class="services__img" href="#">
              <picture>
                <source srcset="img/services-12.webp" type="image/webp">
                <img src="img/services-12.jpg" width="339" height="199" alt="услуга" loading="lazy">
              </picture>
            </a>
            <div class="services__info">
              <p class="services__name">Установка подсветки салона</p>
              <p class="services__price">от <span>100 000 руб.</span></p>
              <div class="services__buttons">
                <button class="services__btn btn-primary" data-modal-open="modal-form">заказать</button>
                <a class="services__link link-wavy" href="#">подробнее</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
