<section class="silent section">
  <div class="silent__wrapper">
    <div class="container">
      <div class="silent__inner">
        <div class="silent__head">
          <div class="silent__title title title--icon">
            <h3 class="title__wrapper">Сделаем Ваш автомобиль <br /> <span class="secondary">тише до 75%</span></h3>
          </div>
          <div class="silent__text">
            <p>Посторонние шумы в машине причиняют дискомфорт? Не обязательно терпеть неудобства — качественная шумоизоляция авто в Нижнем Новгороде поможет быстро избавиться от раздражающих звуков и существенно повысить комфорт передвижения в автомобиле. Мастера компании гарантируют, что каждый клиент будет доволен результатом на все 100%.</p>
          </div>
        </div>
        <div class="silent__row">
          <div class="silent__col">
            <p class="silent__subtitle">Как выглядит до/после:</p>
            <div class="silent__content">
              <div class="silent__images">
                <div class="silent__img silent__img--before">
                  <img src="img/silent-1.jpg" width="465" height="376" alt="до" draggable="false">
                </div>
                <div class="silent__img silent__img--after">
                  <img src="img/silent-2.jpg" width="465" height="376" alt="после" draggable="false">
                </div>
                <div class="silent__drag">
                  <div class="silent__drag-line"></div>
                </div>
                <div class="silent__arrows">
                  <button class="silent__arrow silent__arrow--before" title="Посмотреть до"><i class="icon icon-arrow"></i></button>
                  <button class="silent__arrow silent__arrow--after" title="Посмотреть после"><i class="icon icon-arrow"></i></button>
                </div>
                <div class="silent__captions">
                  <div class="silent__caption silent__caption--before">до</div>
                  <div class="silent__caption silent__caption--after">после</div>
                </div>
              </div>
              <div class="silent__info">
                <p>Основной задачей шумоизоляции авто — является снижение уровня шумности в салоне. Однако, к сожалению, очень часто производители бюджетных авто и моделей среднего класса уделяют данному технологическому процессу недостаточно внимания, стремясь минимизировать стоимость продукции. Поэтому салон таких машин мало защищен от шумов и вибрации.</p>
                <p>В результате во время движения водитель не может полностью сосредоточиться, шум вызывает раздражение и приводит к быстрой утомляемости.</p>
                <p>На пассажиров повышенная шумность также оказывает негативное воздействие, существенно снижая комфортность поездки. От посторонних звуков не отвлекает даже музыка, а общаться в таких условиях и вовсе приходится на повышенных тонах.</p>
                <p>Поэтому не стоит откладывать решение проблемы, ведь сразу же после проведения шумоизоляции в нашем центре атмосфера в салоне автомобиля существенно изменится. Исчезнут дребезжание и вибрация, приглушатся внешние звуки, а звучание музыки станет намного чище.</p>
              </div>
            </div>
          </div>
          <div class="silent__col silent__promotion">
            <div class="promotions-card">
              <div class="promotions-card__badge">весь декабрь</div>
              <div class="promotions-card__img">
                <img src="img/promotions-4.jpg" width="418" height="299" alt="Акция">
              </div>
              <p class="promotions-card__text">Шумоизоляция всех дверей <span class="accent">+&nbsp;все арки от 28&nbsp;000 руб.</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
