<section class="types section">
  <div class="types__wrapper">
    <div class="container">
      <div class="types__inner">
        <div class="types__title title title--icon">
          <h2 class="title__wrapper">Типы шумоизоляции</h2>
        </div>
        <ol class="types__list">
          <li class="types__item">
            <div class="types__col">
              <div class="types__img">
                <img src="img/types-1.png" width="322" height="120" alt="тип">
              </div>
              <p class="types__info">4 слоя материалов: Comfort mat Dark D3 Premium (3 мм) (2 слоя); Comfort mat Integra (6 мм); Comfort mat Soft Wave Expert (15 мм).</p>
            </div>
            <div class="types__col">
              <p class="types__name">Двери</p>
              <div class="types__prices">
                <p class="types__price-old">от 19 200 руб.</p>
                <p class="types__price-new">от 15 900 руб.</p>
              </div>
              <button class="types__btn btn-primary" data-modal-open="modal-form" data-text-short="записаться">записаться на услугу <i class="icon icon-arrow"></i></button>
            </div>
          </li>
          <li class="types__item">
            <div class="types__col">
              <div class="types__img">
                <img src="img/types-2.png" width="322" height="120" alt="тип">
              </div>
              <p class="types__info">3 слоя: Comfort mat Extreme 3.5 (3,5 мм); Comfort mat Vision Red (6 мм); Comfort mat Blockator (3 мм).</p>
            </div>
            <div class="types__col">
              <p class="types__name">Пол автомобиля</p>
              <div class="types__prices">
                <p class="types__price-old">от 22 000 руб.</p>
                <p class="types__price-new">от 19 700 руб.</p>
              </div>
              <button class="types__btn btn-primary" data-modal-open="modal-form" data-text-short="записаться">записаться на услугу <i class="icon icon-arrow"></i></button>
            </div>
          </li>
          <li class="types__item">
            <div class="types__col">
              <div class="types__img">
                <img src="img/types-3.png" width="322" height="120" alt="тип">
              </div>
              <p class="types__info">2 слоя: Comfort mat Dark D3 Premium (3 мм); Comfort mat Vision Red (6 мм).</p>
            </div>
            <div class="types__col">
              <p class="types__name">Багажник с задн.арками </p>
              <div class="types__prices">
                <p class="types__price-old">от 19 400 руб.</p>
                <p class="types__price-new">от 17 800 руб.</p>
              </div>
              <button class="types__btn btn-primary" data-modal-open="modal-form" data-text-short="записаться">записаться на услугу <i class="icon icon-arrow"></i></button>
            </div>
          </li>
          <li class="types__item">
            <div class="types__col">
              <div class="types__img">
                <img src="img/types-4.png" width="322" height="120" alt="тип">
              </div>
              <p class="types__info">2 слоя: Comfort mat Dark D3 Premium (3 мм); Comfort mat Skyline (5 мм)</p>
            </div>
            <div class="types__col">
              <p class="types__name">Потолок</p>
              <div class="types__prices">
                <p class="types__price-old">от 17 400 руб.</p>
                <p class="types__price-new">от 11 800 руб.</p>
              </div>
              <button class="types__btn btn-primary" data-modal-open="modal-form" data-text-short="записаться">записаться на услугу <i class="icon icon-arrow"></i></button>
            </div>
          </li>
          <li class="types__item">
            <div class="types__col">
              <div class="types__img">
                <img src="img/types-5.png" width="322" height="120" alt="тип">
              </div>
              <p class="types__info">2 слоя: Comfort mat Dark D3 Premium (3 мм); Comfort mat Vision Red (6 мм).</p>
            </div>
            <div class="types__col">
              <p class="types__name">Капот</p>
              <div class="types__prices">
                <p class="types__price-old">от 2 800 руб.</p>
                <p class="types__price-new">от 2 000 руб.</p>
              </div>
              <button class="types__btn btn-primary" data-modal-open="modal-form" data-text-short="записаться">записаться на услугу <i class="icon icon-arrow"></i></button>
            </div>
          </li>
          <li class="types__item">
            <div class="types__col">
              <div class="types__img">
                <img src="img/types-5.png" width="322" height="120" alt="тип">
              </div>
              <p class="types__info">Весь автомобиль включает в себя: пол, потолок, арки, двери, багажник.</p>
            </div>
            <div class="types__col">
              <p class="types__name">Полная шумоизоляция</p>
              <div class="types__prices">
                <p class="types__price-old">от 60 000 руб.</p>
                <p class="types__price-new">от 49 800 руб.</p>
              </div>
              <button class="types__btn btn-primary" data-modal-open="modal-form" data-text-short="записаться">записаться на услугу <i class="icon icon-arrow"></i></button>
            </div>
          </li>
        </ol>
        <div class="types__caption">
          <p>* Цены указаны примерные, они зависят от размера авто и итогового комплекса работ. Звоните или пишите в мессенджер, чтобы мастер сориентировал вас по стоимости. Это займет всего пару минут. Шумоизоляция Нижний Новгород.</p>
        </div>
      </div>
    </div>
  </div>
</section>
