<section class="video section">
  <div class="video__media">
    <video src="video/main-video.mp4" poster="img/video-poster.jpg" loading="lazy" autoplay playsinline muted loop></video>
    <div class="video__lines-top"></div>
    <div class="video__lines-bottom"></div>
  </div>
</section>
