<section class="works section">
  <div class="works__wrapper">
    <div class="container">
      <div class="works__inner">
        <div class="works__title title title--icon">
          <h3 class="title__wrapper">Примеры <br /> <span class="secondary">работ</span></h3>
        </div>
        <ul class="works__list">
          <li class="works__item">
            <div class="works__img">
              <picture>
                <source srcset="img/works-1.webp" type="image/webp">
                <img src="img/works-1.jpg" width="341" height="264" alt="Пример работы" loading="lazy">
              </picture>
            </div>
            <div class="works__info">
              <p class="works__name">Оклейка MCLaren антигравийной пленкой</p>
              <p class="works__text">Вы хотите сохранить идеальное состояние своего McLaren 720s на долгие годы? SA CarLounge, ведущий детейлинг…</p>
              <div class="works__buttons">
                <a class="works__btn btn-primary" href="#">узнать цену</a>
                <a class="works__link link-wavy" href="#">подробнее</a>
              </div>
            </div>
          </li>
          <li class="works__item">
            <div class="works__img">
              <picture>
                <source srcset="img/works-2.webp" type="image/webp">
                <img src="img/works-2.jpg" width="341" height="264" alt="Пример работы" loading="lazy">
              </picture>
            </div>
            <div class="works__info">
              <p class="works__name">Защита передней части авто пленкой LLumar PPF Gloss</p>
              <p class="works__text">На этот раз рассказ про новый BMW5 в кузове G30, который приехал к нам сразу после покупки. Владелец…</p>
              <div class="works__buttons">
                <a class="works__btn btn-primary" href="#">узнать цену</a>
                <a class="works__link link-wavy" href="#">подробнее</a>
              </div>
            </div>
          </li>
          <li class="works__item">
            <div class="works__img">
              <picture>
                <source srcset="img/works-3.webp" type="image/webp">
                <img src="img/works-3.jpg" width="341" height="264" alt="Пример работы" loading="lazy">
              </picture>
            </div>
            <div class="works__info">
              <p class="works__name">Восстановление оконных молдингов Mercedes-Benz W222 Maybach</p>
              <p class="works__text">Совершенство складывается из мелочей (с). Очередной Mercedes-Benz W222 Maybach, на котором мы восстановили…</p>
              <div class="works__buttons">
                <a class="works__btn btn-primary" href="#">узнать цену</a>
                <a class="works__link link-wavy" href="#">подробнее</a>
              </div>
            </div>
          </li>
          <li class="works__item">
            <div class="works__img">
              <picture>
                <source srcset="img/works-4.webp" type="image/webp">
                <img src="img/works-4.jpg" width="341" height="264" alt="Пример работы" loading="lazy">
              </picture>
            </div>
            <div class="works__info">
              <p class="works__name">Полная шумоизоляция Mercedes-Benz V-Сlass</p>
              <p class="works__text">Многие из вас спрашивали и хотели, но мы в большинстве случаев отказывали. Из-за отсутствия времени,…</p>
              <div class="works__buttons">
                <a class="works__btn btn-primary" href="#">узнать цену</a>
                <a class="works__link link-wavy" href="#">подробнее</a>
              </div>
            </div>
          </li>
        </ul>
        <a class="works__btn btn-gradient" href="#">Все работы</a>
      </div>
    </div>
  </div>
</section>
