.btn-primary {
  display: inline-block;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 5px 13.6px 0 rgba(18, 14, 68, 20%);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  background-color: $primary;
  transition: background-color $transition;
  cursor: pointer;

  &:focus,
  &:active {
    background-color: $accent;
  }

  @include hover {
    background-color: $accent;
  }
}

.btn-gradient {
  position: relative;
  z-index: 0;
  display: inline-block;
  overflow: hidden;
  border-radius: 10px;
  padding: 20px;
  min-width: 169px;
  box-shadow: 0 5px 13.6px 0 rgba(18, 14, 68, 20%);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  transition: $transition;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(91deg, #15b39b 0.39%, #5b8df4 101.63%);
    transition: opacity $transition;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #ff9906 44.02%, #ffc438 99.94%);
    opacity: 0;
    transition: opacity $transition;
  }

  &:focus,
  &:active {
    &::before {
      opacity: 0;
    }

    &::after {
      opacity: 1;
    }
  }

  @include hover {
    &::after {
      opacity: 1;
    }
  }
}

.btn-outline {
  display: inline-block;
  border: 1px solid $primary;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  color: $white;
  transition: background-color $transition;

  @include hover {
    background-color: $primary;
  }
}

.link-wavy {
  position: relative;
  display: inline-block;
  padding-bottom: 6px;
  font-weight: 700;
  color: #98a1ae;
  transition: color $transition;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 85px;
    height: 5px;
    background: url("data:image/svg+xml,%3Csvg width='85' height='6' viewBox='0 0 85 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 4.5C0 5.05228 0.447715 5.5 1 5.5C2.16746 5.5 3.0816 5.28701 3.86158 4.94864C4.61023 4.62387 5.20369 4.1947 5.70796 3.83002C5.71705 3.82345 5.72611 3.8169 5.73514 3.81037C6.26233 3.4292 6.69833 3.11802 7.23283 2.88614C7.74948 2.66201 8.39129 2.5 9.29844 2.5C10.2056 2.5 10.8474 2.66201 11.3641 2.88614C11.8985 3.11801 12.3345 3.42919 12.8617 3.81037L12.8889 3.83002C13.3932 4.1947 13.9866 4.62387 14.7353 4.94864C15.5153 5.28701 16.4294 5.5 17.5969 5.5C18.7643 5.5 19.6785 5.28701 20.4584 4.94864C21.2071 4.62387 21.8005 4.19471 22.3048 3.83003L22.332 3.81037C22.8592 3.4292 23.2952 3.11802 23.8297 2.88614C24.3463 2.66201 24.9882 2.5 25.8953 2.5C26.8025 2.5 27.4443 2.66201 27.9609 2.88614C28.4954 3.11801 28.9314 3.42919 29.4586 3.81037L29.4858 3.83002C29.99 4.1947 30.5835 4.62387 31.3322 4.94864C32.1121 5.28701 33.0263 5.5 34.1937 5.5C35.3612 5.5 36.2753 5.28701 37.0553 4.94864C37.8039 4.62387 38.3974 4.1947 38.9017 3.83003L38.9289 3.81037C39.4561 3.42919 39.892 3.11801 40.4265 2.88614C40.9432 2.66201 41.585 2.5 42.4921 2.5C43.3993 2.5 44.0411 2.66201 44.5578 2.88614C45.0923 3.11802 45.5283 3.4292 46.0555 3.81037L46.0826 3.83003C46.5869 4.1947 47.1804 4.62387 47.929 4.94864C48.709 5.28701 49.6231 5.5 50.7906 5.5C51.9581 5.5 52.8722 5.28701 53.6522 4.94864C54.4008 4.62387 54.9943 4.1947 55.4985 3.83003L55.5257 3.81037C56.0529 3.42919 56.4889 3.11801 57.0234 2.88614C57.5401 2.66201 58.1819 2.5 59.089 2.5C59.9962 2.5 60.638 2.66201 61.1546 2.88614C61.6891 3.11802 62.1251 3.4292 62.6523 3.81037L62.6795 3.83003C63.1838 4.1947 63.7772 4.62387 64.5259 4.94864C65.3059 5.28701 66.22 5.5 67.3875 5.5C68.5549 5.5 69.4694 5.28701 70.2499 4.94881C70.9991 4.62416 71.5934 4.19517 72.0987 3.83048L72.1258 3.81089C72.654 3.42973 73.0911 3.11833 73.6265 2.88631C74.1441 2.66201 74.7866 2.5 75.6937 2.5C76.6009 2.5 77.2427 2.66201 77.7595 2.88617C78.2943 3.1181 78.7305 3.42934 79.2584 3.81063L79.2842 3.82931C79.7895 4.19434 80.384 4.62389 81.1345 4.94889C81.9154 5.28712 82.8309 5.5 84 5.5C84.5523 5.5 85 5.05228 85 4.5C85 3.94772 84.5523 3.5 84 3.5C83.0906 3.5 82.4471 3.33788 81.9293 3.11361C81.3937 2.88167 80.957 2.57039 80.4295 2.18937L80.4011 2.16885C79.8968 1.80448 79.3034 1.37579 78.5554 1.05133C77.7753 0.712992 76.8612 0.5 75.6937 0.5C74.5263 0.5 73.6118 0.712987 72.8313 1.05119C72.0821 1.37584 71.4878 1.80483 70.9825 2.16952L70.9554 2.18911C70.4272 2.57027 69.9901 2.88167 69.4547 3.11369C68.9371 3.33799 68.2946 3.5 67.3875 3.5C66.4803 3.5 65.8385 3.33799 65.3218 3.11386C64.7874 2.88198 64.3513 2.5708 63.8242 2.18963L63.797 2.16997C63.2927 1.8053 62.6992 1.37613 61.9506 1.05136C61.1706 0.712987 60.2565 0.5 59.089 0.5C57.9216 0.5 57.0074 0.712987 56.2274 1.05136C55.4788 1.37613 54.8853 1.8053 54.3811 2.16997L54.3539 2.18963C53.8267 2.57081 53.3907 2.88199 52.8562 3.11386C52.3396 3.33799 51.6977 3.5 50.7906 3.5C49.8834 3.5 49.2416 3.33799 48.725 3.11386C48.1905 2.88198 47.7545 2.5708 47.2273 2.18963L47.2001 2.16997C46.6958 1.8053 46.1024 1.37613 45.3537 1.05136C44.5737 0.712987 43.6596 0.5 42.4921 0.5C41.3247 0.5 40.4106 0.712987 39.6306 1.05136C38.8819 1.37613 38.2885 1.8053 37.7842 2.16997L37.757 2.18963C37.2298 2.57081 36.7938 2.88199 36.2593 3.11386C35.7427 3.33799 35.1009 3.5 34.1937 3.5C33.2866 3.5 32.6448 3.33799 32.1281 3.11386C31.5936 2.88199 31.1576 2.57081 30.6304 2.18963L30.6033 2.16998C30.099 1.8053 29.5055 1.37613 28.7569 1.05136C27.9769 0.712987 27.0628 0.5 25.8953 0.5C24.7279 0.5 23.8137 0.712987 23.0337 1.05136C22.2851 1.37613 21.6916 1.80529 21.1874 2.16997L21.1602 2.18963C20.633 2.5708 20.197 2.88198 19.6625 3.11386C19.1458 3.33799 18.504 3.5 17.5969 3.5C16.6897 3.5 16.0479 3.33799 15.5313 3.11386C14.9968 2.88199 14.5608 2.57081 14.0336 2.18963L14.0064 2.16998C13.5021 1.8053 12.9087 1.37613 12.16 1.05136C11.38 0.712987 10.4659 0.5 9.29844 0.5C8.13099 0.5 7.21685 0.712987 6.43687 1.05136C5.68822 1.37613 5.09476 1.8053 4.59048 2.16998C4.58139 2.17655 4.57233 2.1831 4.5633 2.18963C4.03611 2.5708 3.60011 2.88198 3.06562 3.11386C2.54897 3.33799 1.90715 3.5 1 3.5C0.447715 3.5 0 3.94772 0 4.5Z' fill='%2398A1AE'/%3E%3C/svg%3E%0A") center / cover no-repeat;
    transition: background $transition;
  }

  &:focus,
  &:active {
    color: $white;

    &::after {
      background-image: url("data:image/svg+xml,%3Csvg width='85' height='6' viewBox='0 0 85 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 4.90625C0 5.45853 0.447715 5.90625 1 5.90625C2.16746 5.90625 3.0816 5.69326 3.86158 5.35489C4.61023 5.03012 5.20369 4.60095 5.70796 4.23627C5.71705 4.2297 5.72611 4.22315 5.73514 4.21662C6.26233 3.83545 6.69833 3.52427 7.23283 3.29239C7.74948 3.06826 8.39129 2.90625 9.29844 2.90625C10.2056 2.90625 10.8474 3.06826 11.3641 3.29239C11.8985 3.52426 12.3345 3.83544 12.8617 4.21662L12.8889 4.23627C13.3932 4.60095 13.9866 5.03012 14.7353 5.35489C15.5153 5.69326 16.4294 5.90625 17.5969 5.90625C18.7643 5.90625 19.6785 5.69326 20.4584 5.35489C21.2071 5.03012 21.8005 4.60096 22.3048 4.23628L22.332 4.21662C22.8592 3.83545 23.2952 3.52427 23.8297 3.29239C24.3463 3.06826 24.9882 2.90625 25.8953 2.90625C26.8025 2.90625 27.4443 3.06826 27.9609 3.29239C28.4954 3.52426 28.9314 3.83544 29.4586 4.21662L29.4858 4.23627C29.99 4.60095 30.5835 5.03012 31.3322 5.35489C32.1121 5.69326 33.0263 5.90625 34.1937 5.90625C35.3612 5.90625 36.2753 5.69326 37.0553 5.35489C37.8039 5.03012 38.3974 4.60095 38.9017 4.23628L38.9289 4.21662C39.4561 3.83544 39.892 3.52426 40.4265 3.29239C40.9432 3.06826 41.585 2.90625 42.4921 2.90625C43.3993 2.90625 44.0411 3.06826 44.5578 3.29239C45.0923 3.52427 45.5283 3.83545 46.0555 4.21662L46.0826 4.23628C46.5869 4.60095 47.1804 5.03012 47.929 5.35489C48.709 5.69326 49.6231 5.90625 50.7906 5.90625C51.9581 5.90625 52.8722 5.69326 53.6522 5.35489C54.4008 5.03012 54.9943 4.60095 55.4985 4.23628L55.5257 4.21662C56.0529 3.83544 56.4889 3.52426 57.0234 3.29239C57.5401 3.06826 58.1819 2.90625 59.089 2.90625C59.9962 2.90625 60.638 3.06826 61.1546 3.29239C61.6891 3.52427 62.1251 3.83545 62.6523 4.21662L62.6795 4.23628C63.1838 4.60095 63.7772 5.03012 64.5259 5.35489C65.3059 5.69326 66.22 5.90625 67.3875 5.90625C68.5549 5.90625 69.4694 5.69326 70.2499 5.35506C70.9991 5.03041 71.5934 4.60142 72.0987 4.23673L72.1258 4.21714C72.654 3.83598 73.0911 3.52458 73.6265 3.29256C74.1441 3.06826 74.7866 2.90625 75.6937 2.90625C76.6009 2.90625 77.2427 3.06826 77.7595 3.29242C78.2943 3.52435 78.7305 3.83559 79.2584 4.21688L79.2842 4.23556C79.7895 4.60059 80.384 5.03014 81.1345 5.35514C81.9154 5.69337 82.8309 5.90625 84 5.90625C84.5523 5.90625 85 5.45853 85 4.90625C85 4.35397 84.5523 3.90625 84 3.90625C83.0906 3.90625 82.4471 3.74413 81.9293 3.51986C81.3937 3.28792 80.957 2.97664 80.4295 2.59562L80.4011 2.5751C79.8968 2.21073 79.3034 1.78204 78.5554 1.45758C77.7753 1.11924 76.8612 0.90625 75.6937 0.90625C74.5263 0.90625 73.6118 1.11924 72.8313 1.45744C72.0821 1.78209 71.4878 2.21108 70.9825 2.57577L70.9554 2.59536C70.4272 2.97652 69.9901 3.28792 69.4547 3.51994C68.9371 3.74424 68.2946 3.90625 67.3875 3.90625C66.4803 3.90625 65.8385 3.74424 65.3218 3.52011C64.7874 3.28823 64.3513 2.97705 63.8242 2.59588L63.797 2.57622C63.2927 2.21155 62.6992 1.78238 61.9506 1.45761C61.1706 1.11924 60.2565 0.90625 59.089 0.90625C57.9216 0.90625 57.0074 1.11924 56.2274 1.45761C55.4788 1.78238 54.8853 2.21155 54.3811 2.57622L54.3539 2.59588C53.8267 2.97706 53.3907 3.28824 52.8562 3.52011C52.3396 3.74424 51.6977 3.90625 50.7906 3.90625C49.8834 3.90625 49.2416 3.74424 48.725 3.52011C48.1905 3.28823 47.7545 2.97705 47.2273 2.59588L47.2001 2.57622C46.6958 2.21155 46.1024 1.78238 45.3537 1.45761C44.5737 1.11924 43.6596 0.90625 42.4921 0.90625C41.3247 0.90625 40.4106 1.11924 39.6306 1.45761C38.8819 1.78238 38.2885 2.21155 37.7842 2.57622L37.757 2.59588C37.2298 2.97706 36.7938 3.28824 36.2593 3.52011C35.7427 3.74424 35.1009 3.90625 34.1937 3.90625C33.2866 3.90625 32.6448 3.74424 32.1281 3.52011C31.5936 3.28824 31.1576 2.97706 30.6304 2.59588L30.6033 2.57623C30.099 2.21155 29.5055 1.78238 28.7569 1.45761C27.9769 1.11924 27.0628 0.90625 25.8953 0.90625C24.7279 0.90625 23.8137 1.11924 23.0337 1.45761C22.2851 1.78238 21.6916 2.21154 21.1874 2.57622L21.1602 2.59588C20.633 2.97705 20.197 3.28823 19.6625 3.52011C19.1458 3.74424 18.504 3.90625 17.5969 3.90625C16.6897 3.90625 16.0479 3.74424 15.5313 3.52011C14.9968 3.28824 14.5608 2.97706 14.0336 2.59588L14.0064 2.57623C13.5021 2.21155 12.9087 1.78238 12.16 1.45761C11.38 1.11924 10.4659 0.90625 9.29844 0.90625C8.13099 0.90625 7.21685 1.11924 6.43687 1.45761C5.68822 1.78238 5.09476 2.21155 4.59048 2.57623C4.58139 2.5828 4.57233 2.58935 4.5633 2.59588C4.03611 2.97705 3.60011 3.28823 3.06562 3.52011C2.54897 3.74424 1.90715 3.90625 1 3.90625C0.447715 3.90625 0 4.35397 0 4.90625Z' fill='%23F6F9FF'/%3E%3C/svg%3E%0A");
    }
  }

  @include hover {
    color: $white;

    &::after {
      background-image: url("data:image/svg+xml,%3Csvg width='85' height='6' viewBox='0 0 85 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 4.90625C0 5.45853 0.447715 5.90625 1 5.90625C2.16746 5.90625 3.0816 5.69326 3.86158 5.35489C4.61023 5.03012 5.20369 4.60095 5.70796 4.23627C5.71705 4.2297 5.72611 4.22315 5.73514 4.21662C6.26233 3.83545 6.69833 3.52427 7.23283 3.29239C7.74948 3.06826 8.39129 2.90625 9.29844 2.90625C10.2056 2.90625 10.8474 3.06826 11.3641 3.29239C11.8985 3.52426 12.3345 3.83544 12.8617 4.21662L12.8889 4.23627C13.3932 4.60095 13.9866 5.03012 14.7353 5.35489C15.5153 5.69326 16.4294 5.90625 17.5969 5.90625C18.7643 5.90625 19.6785 5.69326 20.4584 5.35489C21.2071 5.03012 21.8005 4.60096 22.3048 4.23628L22.332 4.21662C22.8592 3.83545 23.2952 3.52427 23.8297 3.29239C24.3463 3.06826 24.9882 2.90625 25.8953 2.90625C26.8025 2.90625 27.4443 3.06826 27.9609 3.29239C28.4954 3.52426 28.9314 3.83544 29.4586 4.21662L29.4858 4.23627C29.99 4.60095 30.5835 5.03012 31.3322 5.35489C32.1121 5.69326 33.0263 5.90625 34.1937 5.90625C35.3612 5.90625 36.2753 5.69326 37.0553 5.35489C37.8039 5.03012 38.3974 4.60095 38.9017 4.23628L38.9289 4.21662C39.4561 3.83544 39.892 3.52426 40.4265 3.29239C40.9432 3.06826 41.585 2.90625 42.4921 2.90625C43.3993 2.90625 44.0411 3.06826 44.5578 3.29239C45.0923 3.52427 45.5283 3.83545 46.0555 4.21662L46.0826 4.23628C46.5869 4.60095 47.1804 5.03012 47.929 5.35489C48.709 5.69326 49.6231 5.90625 50.7906 5.90625C51.9581 5.90625 52.8722 5.69326 53.6522 5.35489C54.4008 5.03012 54.9943 4.60095 55.4985 4.23628L55.5257 4.21662C56.0529 3.83544 56.4889 3.52426 57.0234 3.29239C57.5401 3.06826 58.1819 2.90625 59.089 2.90625C59.9962 2.90625 60.638 3.06826 61.1546 3.29239C61.6891 3.52427 62.1251 3.83545 62.6523 4.21662L62.6795 4.23628C63.1838 4.60095 63.7772 5.03012 64.5259 5.35489C65.3059 5.69326 66.22 5.90625 67.3875 5.90625C68.5549 5.90625 69.4694 5.69326 70.2499 5.35506C70.9991 5.03041 71.5934 4.60142 72.0987 4.23673L72.1258 4.21714C72.654 3.83598 73.0911 3.52458 73.6265 3.29256C74.1441 3.06826 74.7866 2.90625 75.6937 2.90625C76.6009 2.90625 77.2427 3.06826 77.7595 3.29242C78.2943 3.52435 78.7305 3.83559 79.2584 4.21688L79.2842 4.23556C79.7895 4.60059 80.384 5.03014 81.1345 5.35514C81.9154 5.69337 82.8309 5.90625 84 5.90625C84.5523 5.90625 85 5.45853 85 4.90625C85 4.35397 84.5523 3.90625 84 3.90625C83.0906 3.90625 82.4471 3.74413 81.9293 3.51986C81.3937 3.28792 80.957 2.97664 80.4295 2.59562L80.4011 2.5751C79.8968 2.21073 79.3034 1.78204 78.5554 1.45758C77.7753 1.11924 76.8612 0.90625 75.6937 0.90625C74.5263 0.90625 73.6118 1.11924 72.8313 1.45744C72.0821 1.78209 71.4878 2.21108 70.9825 2.57577L70.9554 2.59536C70.4272 2.97652 69.9901 3.28792 69.4547 3.51994C68.9371 3.74424 68.2946 3.90625 67.3875 3.90625C66.4803 3.90625 65.8385 3.74424 65.3218 3.52011C64.7874 3.28823 64.3513 2.97705 63.8242 2.59588L63.797 2.57622C63.2927 2.21155 62.6992 1.78238 61.9506 1.45761C61.1706 1.11924 60.2565 0.90625 59.089 0.90625C57.9216 0.90625 57.0074 1.11924 56.2274 1.45761C55.4788 1.78238 54.8853 2.21155 54.3811 2.57622L54.3539 2.59588C53.8267 2.97706 53.3907 3.28824 52.8562 3.52011C52.3396 3.74424 51.6977 3.90625 50.7906 3.90625C49.8834 3.90625 49.2416 3.74424 48.725 3.52011C48.1905 3.28823 47.7545 2.97705 47.2273 2.59588L47.2001 2.57622C46.6958 2.21155 46.1024 1.78238 45.3537 1.45761C44.5737 1.11924 43.6596 0.90625 42.4921 0.90625C41.3247 0.90625 40.4106 1.11924 39.6306 1.45761C38.8819 1.78238 38.2885 2.21155 37.7842 2.57622L37.757 2.59588C37.2298 2.97706 36.7938 3.28824 36.2593 3.52011C35.7427 3.74424 35.1009 3.90625 34.1937 3.90625C33.2866 3.90625 32.6448 3.74424 32.1281 3.52011C31.5936 3.28824 31.1576 2.97706 30.6304 2.59588L30.6033 2.57623C30.099 2.21155 29.5055 1.78238 28.7569 1.45761C27.9769 1.11924 27.0628 0.90625 25.8953 0.90625C24.7279 0.90625 23.8137 1.11924 23.0337 1.45761C22.2851 1.78238 21.6916 2.21154 21.1874 2.57622L21.1602 2.59588C20.633 2.97705 20.197 3.28823 19.6625 3.52011C19.1458 3.74424 18.504 3.90625 17.5969 3.90625C16.6897 3.90625 16.0479 3.74424 15.5313 3.52011C14.9968 3.28824 14.5608 2.97706 14.0336 2.59588L14.0064 2.57623C13.5021 2.21155 12.9087 1.78238 12.16 1.45761C11.38 1.11924 10.4659 0.90625 9.29844 0.90625C8.13099 0.90625 7.21685 1.11924 6.43687 1.45761C5.68822 1.78238 5.09476 2.21155 4.59048 2.57623C4.58139 2.5828 4.57233 2.58935 4.5633 2.59588C4.03611 2.97705 3.60011 3.28823 3.06562 3.52011C2.54897 3.74424 1.90715 3.90625 1 3.90625C0.447715 3.90625 0 4.35397 0 4.90625Z' fill='%23F6F9FF'/%3E%3C/svg%3E%0A");
    }
  }
}

@media screen and (max-width: $menu-breakpoint) {
  .btn-outline {
    padding: 20px;
  }
}

@media screen and (max-width: 768px) {
  .btn-gradient {
    padding: 12px 20px;
  }

  .btn-primary {
    padding: 15px 30px;
  }

  .link-wavy {
    &::after {
      width: 73px;
      height: 4px;
    }
  }
}
