
@media screen and (max-width: $menu-breakpoint) {
  .menu {
    position: absolute;
    left: calc(var(--container-offset) * -1);
    right: calc(var(--container-offset) * -1);
    top: -20px;
    z-index: 40;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $primary;
    padding: 22px 20px;
    height: auto;
    background-color: $black;
    opacity: 0;
    transform: translateY(-50%);
    transition: transform $menu-transition, opacity $menu-transition;

    &.is-active {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
