@mixin font-face($font, $url, $weight, $style) {
  @font-face {
    src:
      url("../fonts/#{$url}.woff") format("woff"),
      url("../fonts/#{$url}.woff2") format("woff2");
    font-family: "#{$font}";
    font-weight: #{$weight};
    font-style: $style;
    font-display: swap;
  }
}
