<div class="pagination">
  <ul>
    <li class="pagination__arrow pagination__arrow--prev"><a href="#"></a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li class="is-active"><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">6</a></li>
    <li class="pagination__dots"><span>...</span></li>
    <li><a href="#">48</a></li>
    <li class="pagination__arrow pagination__arrow--next"><a href="#"></a></li>
  </ul>
</div>
