{% extends "../templates/layouts/layout.njk" %}

{% block content %}
{% include "../templates/blocks/services.njk" %}
{% include "../templates/blocks/lead.njk" %}
{% include "../templates/blocks/works.njk" %}
{% include "../templates/blocks/video.njk" %}
{% include "../templates/blocks/about.njk" %}
{% include "../templates/blocks/promotions.njk" %}
{% include "../templates/blocks/lead-form.njk" %}
{% include "../templates/blocks/contacts.njk" %}
{% endblock content %}
