{% extends "../templates/layouts/layout.njk" %}

{% block header %}
{% include "../templates/base/header-prices.njk" %}
{% endblock header %}

{% block content %}
{% include "../templates/blocks/price.njk" %}
{% include "../templates/blocks/benefits.njk" %}
{% include "../templates/blocks/lead-form-2.njk" %}
{% include "../templates/blocks/contacts.njk" %}
{% endblock content %}
