{% extends "../templates/layouts/layout.njk" %}

{% block header %}
{% include "../templates/base/header-services.njk" %}
{% endblock header %}

{% block content %}
{% include "../templates/blocks/types.njk" %}
{% include "../templates/blocks/gallery.njk" %}
{% include "../templates/blocks/benefits-2.njk" %}
{% include "../templates/blocks/pluses.njk" %}
{% include "../templates/blocks/silent.njk" %}
{% include "../templates/blocks/rating.njk" %}
{% include "../templates/blocks/info.njk" %}
{% include "../templates/blocks/benefits.njk" %}
{% include "../templates/blocks/lead-form-2.njk" %}
{% include "../templates/blocks/contacts.njk" %}
{% endblock content %}
