.promotions {
  &__wrapper {
    @include wrapper;

    &::after {
      @include circle(424px, $secondary, 0.5, 137px);

      content: "";
      position: absolute;
      right: -93px;
      top: 0;
      z-index: -1;
    }
  }

  &__title {
    margin-bottom: 30px;
  }

  &__track {
    overflow: visible;
    margin-bottom: 50px;
    padding-top: 33px;
  }

  &__slider {
    overflow: hidden;
    margin: 0 -30px;
    padding: 0 30px;
  }

  &__btn {
    display: none;
  }
}

.promotions-card {
  position: relative;
  border: 1px solid rgba(21, 179, 155, 50%);
  border-radius: 10px;
  background: linear-gradient(89deg, rgba(21, 179, 155, 20%) 4.79%, rgba(21, 179, 155, 7%) 104.94%);

  &__badge {
    @include flex-center;

    position: absolute;
    right: -33px;
    top: -33px;
    z-index: 2;
    padding: 0 20px 10px;
    width: 135px;
    height: 142px;
    font-weight: 700;
    text-align: center;
    color: $white;
    background: url("../img/badge-bg.svg") center / cover no-repeat;
  }

  &__img {
    position: relative;
    padding-bottom: 71.53%;

    img {
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 10px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    padding: 23px 23px 38px 34px;
    font-weight: 700;
    font-size: 20px;
  }
}

@media screen and (max-width: 1440px) {
  .promotions-card {
    &__badge {
      right: -20px;
    }
  }
}

@media screen and (max-width: 1336px) {
  .promotions-card {
    &__text {
      padding: 20px 23px 32px;
      font-weight: 700;
      font-size: 18px;
    }
  }
}

@media screen and (max-width: $menu-breakpoint) {
  .promotions {
    &__wrapper::after {
      right: -74px;
      top: -34px;
      width: 231px;
      height: 231px;
      background-color: $primary;
    }
  }
}

@media screen and (max-width: 1024px) {
  .promotions {
    &__title {
      width: min-content;
    }
  }

  .promotions-card {
    &__badge {
      right: -18px;
      top: -18px;
      width: 94px;
      height: 99px;
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 768px) {
  .promotions {
    &__track {
      margin-bottom: 0;
      padding-top: 0;
    }

    &__btn {
      display: inline-block;
    }

    &__item {
      margin-top: 26px;

      &:first-child {
        margin-top: 0;
      }

      &:nth-child(3) ~ .promotions__item {
        display: none;
      }
    }

    &__slider {
      overflow: visible;
      margin: 0 0 24px;
      padding: 0 18px 0 0;
    }
  }

  .promotions-card {
    display: grid;
    grid-template-columns: 179fr 238fr;

    &__img {
      order: 2;
      padding: 0;

      img {
        position: static;
        border-radius: 0 10px 10px 0;
      }
    }

    &__text {
      align-self: center;
      padding: 26px;
    }
  }
}

@media screen and (max-width: 480px) {
  .promotions-card {
    &__text {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 470px) {
  .promotions {
    &__slider {
      padding-right: 5px;
    }
  }

  .promotions-card {
    grid-template-columns: 202fr 238fr;

    &__badge {
      width: 77px;
      height: 84px;
      font-size: 12px;
    }

    &__text {
      padding: 16px;
    }
  }
}
