html {
  height: 100%;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  outline-width: 1px;
  outline-color: $secondary;
  outline-offset: 3px;
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-family: $font;
  font-size: 16px;
  line-height: normal;
  color: $white;
  background-color: $black;
}

img,
video {
  vertical-align: middle;
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

b,
strong {
  font-weight: 700;
}

i,
em {
  font-style: italic;
}

button {
  border: none;
  border-radius: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

input,
button {
  font: inherit;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}
